// @import "./reset.css";

//VARIABLES

$font-stack: "Roboto", sans-serif;
$white: #fff;
$red: #f72210;
$lb: #333;
$llb: #555;
$yl: rgb(255, 255, 0);
$brdr: #f4f5f6;
$b: #000;
$hl: #999;
$bl: rgb(0, 0, 255);
//STYLES

* a {
  text-decoration: none;
}

* li {
  list-style: none;
}

body {
  background-color: $white;
  color: $lb;
  font-size: 16px;
  max-width: 1310px;

  header {
    background-color: $red;
    color: $white;

    .news {
      padding: 20px;
    }

    svg {
      fill: $white;
    }

    .login {
      color: $white;
    }

    .btn-yellow {
      background-color: $yl;
      font-size: 14px;
      font-weight: 600;
    }

    .mynav {
      background-color: $white;
      border-bottom: 1px solid $brdr;
      // height: 60px;
      margin-top: 20px;
      padding-top: 10px;
      padding-left: 15px;
      padding-right: 15px;

      a {
        // border-left: 1px solid $brdr;
        color: $lb;
        font-size: 16px;
        font-weight: 600;
      }

      .searchbar {
        color: $lb;
        font-weight: 100;
        padding-top: 10px;

        input {
          border: 0;
          width: 80px;
        }
      }
    }

    @media (max-width: 991px) {
      height: 60px;
      padding: 10px 20px 20px 20px;
      position: sticky;
      top: 0;
      z-index: 999;

      svg {
        width: 40%;
      }

      .date {
        display: none;
      }

      .mynav {
        display: none;
      }
    }

    @media (max-width: 490px) {
      height: 60px;
      padding: 10px 20px 20px 20px;
      position: sticky;
      top: 0;
      z-index: 999;

      svg {
        width: 40%;
      }

      .date {
        display: none;
      }

      .mynav {
        display: none;
      }
    }
  }

  .categories {
    margin: 30px 15px;
  }

  .ft-pad {
    border: 0;

    .card-body {
      padding: 20px 0;

      .ftplink {
        color: $b;
        font-size: 24px;
        font-weight: bold;
      }

      p {
        font-size: 15px;
      }
    }
  }

  .tp-story {
    .ft-padd {
      border: 0;

      .card-body {
        padding: 20px 0;
      }

      .ctext {
        color: $b;
        font-size: 20px;
        font-weight: 600;
      }
    }

    .noo-pad {
      border: 0;
      margin-right: 10px;
      padding: 20px 0;

      .hlink {
        color: $hl;
      }

      img {
        width: 95%;
      }
    }

    .more-stories {
      .st-padd {
        border: 0;
        border-top: 1px solid $hl;
        padding: 10px 0;

        .stimg {
          float: left;
          margin-right: 20px;
        }

        .mrlink {
          color: $b;
          font-size: 16px;
        }

        p {
          font-size: 15px;
          font-weight: 300;
        }
      }
    }
  }

  .d8 {
    border-top: 0;
  }

  .db8 {
    border: 0;
    border-top: 1px solid $hl;

    .dbimg {
      float: left;
      margin-right: 20px;
    }

    .dblinkk {
      color: $lb;
    }

    .author {
      color: $llb;
      font-size: 14px;
    }
  }

  .debate {
    .dtop {
      border-bottom: 3px solid $bl;
      border-top: 3px solid $red;
      margin-bottom: 20px;
    }

    .d8 {
      border-top: 0;
    }

    .db8 {
      border: 0;
      border-top: 1px solid $hl;

      .dbimg {
        float: left;
        margin-right: 20px;
      }

      .dblinkk {
        color: $llb;
      }

      .author {
        color: $b;
        font-size: 14px;
      }
    }

    .db88 {
      border: 0;
      border-top: 1px solid $llb;

      .dbimg {
        float: right;
      }

      .dblink {
        color: $llb;
      }

      .author {
        color: $llb;
        font-size: 14px;
      }
    }
  }

  .d-flex {
    background-color: $white;
    border-bottom: 1px solid $llb;
    font-size: 1.1em;
    height: 3.5em;
    padding-top: 10px;

    .nav-link {
      border-right: 1px solid $llb;
      color: $lb;
    }
  }

  .row h3 {
    color: $hl;
    font-size: 16px;
  }

  .sgnup {
    background-color: #f4f5f6;
    border: 1px solid #e5e5e5;
    color: $lb;
    margin: 30px;
    padding: 20px;

    .top {
      display: inline;

      .logoimg {
        float: left;
        margin-right: 20px;
      }
    }

    form {
      margin-top: 15px;

      .f-text {
        border: 1px solid #e0e1e1;
        font-weight: 300;
        line-height: 30px;
        padding-left: 10px;
        width: 100%;
      }

      .submit {
        background-color: $red;
        border: none;
        width: 100%;
        margin-top: 10px;
        height: 30px;
        color: $white;
      }
    }
  }

  .magazine {
    margin: 30px 20px;

    .feats a {
      color: #333;
      font-size: 20px;
      text-align: center;
    }

    .ft-pad {
      border: 0;
      margin-top: 50px;

      .card-body {
        padding: 10px 0;

        .cat span:nth-child(1) {
          background-color: $red;
          color: white;
        }

        h3 a {
          color: #333;
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
  }

  .mag-head {
    text-align: center;
  }

  // .arts {
  //   align-items: flex-end;
  //   display: flex;
  // }

  .pre-foot {
    margin: 40px 20px;

    .pre-card {
      h3 {
        color: $b;
        font-size: 22px;
        font-weight: 600;
      }

      .crd-text {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.2em;
        margin-top: 15px;
      }

      button {
        background-color: $red;
        border: 0;
        border-radius: 4px;
        color: $white;
        height: 40px;
        width: 150px;
      }
    }

    .sub {
      background-color: #f4f5f6;
      display: flex;
      padding: 30px;

      .subimg1 {
        height: 228px;
        width: 170px;
      }

      .pre-card {
        margin-left: 20px;
        padding: 30px;
      }

      .subimg2 {
        height: 228px;
        width: 170px;
        margin-left: -75px;
        margin-top: 20px;
      }
    }

    .news-letter {
      background-color: #f4f5f6;
      display: flex;

      .nsimg {
        width: 48%;
      }

      .sgnupp {
        background-color: $white;
        padding: 30px 20px;

        h3 {
          color: $b;
          font-size: 22px;
          font-weight: 600;
        }

        p {
          margin-top: 15px;
          font-weight: 300;
          line-height: 1.2em;
          font-size: 14px;
        }

        form {
          .sub-mit {
            background-color: $red;
            color: $white;
            border: none;
            margin-top: 15px;
            width: 100%;
            height: 40px;
            border-radius: 4px;
          }

          .form-text {
            font-weight: 300;
            padding-left: 10px;
            border: 1px solid #e0e1e1;
            height: 35px;
          }
        }
      }
    }

    @media (max-width: 767px) {
      .sub {
        display: flex;
        flex-direction: column;

        img {
          align-self: center;
        }

        .subimg2 {
          margin-top: -100px;
        }
      }
    }
  }

  .editor {
    margin: 30px 20px;

    .no-pad {
      border: 0;

      .card-body {
        padding: 20px 0;

        h3 a {
          color: #333;
          font-size: 24px;
          font-weight: bold;
        }
      }
    }
  }

  .us {
    border-top: 1px solid #ccc;
    margin: 30px 20px;

    .card {
      border: 0;
    }

    .uslink {
      color: $red;
      font-size: 22px;
    }

    .topic {
      .topilink {
        color: $lb;
        font-size: 20px;
        font-weight: 400;

        &:hover {
          color: $red;
          text-decoration: none;
        }
      }
    }

    .no-marg {
      border: 0;
      padding: 0 0 10px;

      img {
        margin-right: 20px;
      }

      .no-marglink {
        color: #333;
        font-weight: 600;

        &:hover {
          color: $red;
          text-decoration: none;
        }
      }
    }
  }
}

footer {
  margin: 20px;

  .d-flex {
    border-bottom: 0;
  }

  .footop {
    .ft-logo svg {
      height: 36px;
      margin-bottom: 12px;
      margin-right: 15px;
      width: 236px;
    }

    small {
      font-weight: 300;
    }

    .socials ul li {
      margin-left: 20px;
    }

    @media (max-width: 767px) {
      .thetop {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .footom {
    .fhead {
      color: #666;
      margin-top: 7px;
    }

    .fhlink {
      color: rgb(97, 81, 81);
      font-weight: 300;
      font-size: 13px;
    }

    .flink {
      color: #666;
      font-size: 13px;
      font-weight: 300;
    }
  }
}
