@import "./reset.css";

//VARIABLES

$font-stack: "Roboto",
sans-serif;
$white: #fff;
$red: #f72210;
$BR: hsl(12, 88%, 59%);
$D-B: hsl(228, 39%, 23%);
$D-G-B: hsl(227, 12%, 61%);
$V-D: hsl(233, 12%, 13%);
$V-P-R: hsl(13, 100%, 96%);
$V-L-G: hsl(0, 0%, 98%);

//STYLES
* a {
  text-decoration: none;
}

* li {
  list-style: none;
}

body {
  font-family: $font-stack;
  background-color: $white;
  color: #333;
  font-size: 16px;

  header {
    .news {
      padding: 20px;
    }

    color: $white;
    background-color: $red;

    svg {
      fill: $white;
    }

    .login {
      color: $white;
    }

    .btn-yellow {
      background-color: yellow;
    }
  }

  .d-flex {
    background-color: $white;
    font-size: 1.1em;
    height: 3.5em;
    padding-top: 10px;
    border-bottom: 1px solid rgba(3, 3, 3, 0.4);

    .nav-link {
      color: #333;
      border-right: 1px solid rgba(3, 3, 3, 0.4);
    }
  }

  .row h3 {
    color: #999;
    font-size: 16px;
  }

  .categories {
    margin: 30px 0px 0 0px;
  }

  .sgnup {
    color: #333;
    background-color: #f4f5f6;
    padding: 20px;
    margin: 30px;
    border: 1px solid #e5e5e5;

    .top {
      display: inline;

      img {
        float: left;
        margin-right: 20px;
      }
    }

    form {
      margin-top: 15px;

      .f-text {
        width: 100%;
        padding-left: 10px;
        font-weight: 300;
        line-height: 30px;
        border: 1px solid #e0e1e1;
      }

      .submit {
        background-color: $red;
        border: none;
        width: 100%;
        margin-top: 10px;
        height: 30px;
        color: $white;
      }
    }
  }

  .magazine {
    margin-top: 30px;
  }

  .mag-head {
    text-align: center;
  }

  .arts {
    display: flex;
    align-items: flex-end;
  }

  .pre-foot {
    margin: 40px 20px;

    .card-body {
      h3 {
        color: #000;
        font-weight: 600;
        font-size: 22px;
      }

      p {
        margin-top: 15px;
        font-weight: 300;
        line-height: 1.2em;
        font-size: 16px;
      }

      button {
        background-color: $red;
        border: none;
        height: 40px;
        width: 150px;
        color: white;
        border-radius: 4px;
      }
    }

    .sub {
      display: flex;
      padding: 30px;
      background-color: #f4f5f6;

      img {
        width: 170px;
        height: 228px;
      }
    }

    .news-letter {
      background-color: #f4f5f6;
      display: flex;

      img {
        width: 48%;
      }

      .sgnupp {
        background-color: $white;
        padding: 30px 20px;

        h3 {
          color: #000;
          font-weight: 600;
          font-size: 22px;

        }

        p {
          margin-top: 15px;
          font-weight: 300;
          line-height: 1.2em;
          font-size: 14px;
        }

        form {

          .sub-mit {
            background-color: $red;
            color: $white;
            border: none;
            margin-top: 15px;
            width: 100%;
            height: 40px;
            border-radius: 4px;
          }

          .form-text {
            font-weight: 300;
            padding-left: 10px;
            border: 1px solid #e0e1e1;
            height: 35px;
          }
        }
      }
    }
  }
}


footer {
  margin: 20px;

  .footop {
    display: flex;
    justify-content: space-between;


    .ft-logo svg {
      width: 236px;
      height: 36px;
      margin-right: 15px;
      margin-bottom: 12px;
      fill: $red;
    }

    .socials ul li {
      display: inline-flex;
      margin-left: 20px;
    }
  }

  .footom {

    h3 {
      color: #666;
      margin-top: 5px;

    }

    a {
      font-size: 12px;
      color: #666;
      font-weight: 300;

      // line-height: 1.6em;
    }
  }
}

// @include media-breakpoint-up(sm) {}

// @include media-breakpoint-up(md) {}

// @include media-breakpoint-up(lg) {}

// @include media-breakpoint-up(xl) {
//   .header {
//     display: flex;
//   }
// }
