@import "./reset.css";

//VARIABLES

$font-stack: "Roboto", sans-serif;
$white: #fff;
$red: #f72210;
$BR: hsl(12, 88%, 59%);
$D-B: hsl(228, 39%, 23%);
$D-G-B: hsl(227, 12%, 61%);
$V-D: hsl(233, 12%, 13%);
$V-P-R: hsl(13, 100%, 96%);
$V-L-G: hsl(0, 0%, 98%);

//STYLES
* a {
  text-decoration: none;
}

* li {
  list-style: none;
}

body {
  font-family: $font-stack;
  background-color: #f4f5f6;
  color: #333;
  font-size: 16px;
}

// @include media-breakpoint-up(sm) {}

// @include media-breakpoint-up(md) {}

// @include media-breakpoint-up(lg) {}

// @include media-breakpoint-up(xl) {
//   .header {
//     display: flex;
//   }
// }

header {
  .news {
    padding: 20px;
  }

  color: $white;
  background-color: $red;

  svg {
    fill: $white;
  }

  .login {
    color: $white;
  }

  .btn-yellow {
    background-color: yellow;
  }
}

.d-flex {
  background-color: $white;
  font-size: 1.1em;
  height: 3.5em;
  padding-top: 10px;
  border-bottom: 1px solid rgba(3, 3, 3, 0.4);

  .nav-link {
    color: #333;
    border-right: 1px solid rgba(3, 3, 3, 0.4);
  }
}
.row h3 {
  color: #999;
  font-size: 18px;
}
